{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
    <!-- Metas -->
    <meta name="description" content="Home Page for the brass band, Crystal Palace Band. Based in South London, you can also pick up their merchandise at any gig.">
    <meta name="keywords" content="crystal, palace, brass, band,
    gigs, concerts, performance, gig, concert, performances, live, merch, shopping, music, merchandise, london">
    <link rel="canonical" href="https://ci-ms4-cpb-shop.herokuapp.com/">
    <!-- Facebook, LinkedIn, Google -->
    <meta property="og:title" content="Crystal Palace Band" />
    <meta property="og:description" content="Home Page for the brass band, Crystal Palace Band. Based in South London, you can also pick up their merchandise at any gig." />
    <meta property="og:url" content="https://ci-ms4-cpb-shop.herokuapp.com/" />
    <!-- Twitter -->
    <meta name="twitter:title" content="Crystal Palace Band">
    <meta name="twitter:description" content="Home Page for the brass band, Crystal Palace Band. Based in South London, you can also pick up their merchandise at any gig.">
{% endblock %}

{% block extra_title %}
    Home Page
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-sm-12 col-md-5 col-lg-3">
                <img class="img-fluid my-1" src="{{ MEDIA_URL }}CP-Logo-working-Coloured-square.jpg">
            </div>
            <div class="col-sm-12 col-md-7 col-lg-9">
                <h1 class="display-4 text-center logo-font text-yellow">
                    Themed merchandise
                </h1>
                <div class="my-5 text-center">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}