{% extends 'base.html' %}
{% load static %}

{% block extra_meta %}
    <!-- Metas -->
    <meta name="description" content="Upcoming Gigs for the brass band, Crystal Palace Band. Based in South London, you can also pick up their merchandise at any gig.">
    <meta name="keywords" content="crystal, palace, brass, band,
    gigs, concerts, performance, gig, concert, performances, live, merch, shopping, music, merchandise, london">
    <link rel="canonical" href="https://ci-ms4-cpb-shop.herokuapp.com/">
    <!-- Facebook, LinkedIn, Google -->
    <meta property="og:title" content="Crystal Palace Band" />
    <meta property="og:description" content="Upcoming Gigs for the brass band, Crystal Palace Band. Based in South London, you can also pick up their merchandise at any gig." />
    <meta property="og:url" content="https://ci-ms4-cpb-shop.herokuapp.com/" />
    <!-- Twitter -->
    <meta name="twitter:title" content="Crystal Palace Band">
    <meta name="twitter:description" content="Upcoming Gigs for the brass band, Crystal Palace Band. Based in South London, you can also pick up their merchandise at any gig.">
{% endblock %}

{% block extra_title %}
    Upcoming Gigs
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="mb-4">Upcoming Gigs</h2>
                <hr>
            </div>
        </div>
        <div class="row text-transform-none">
            <!-- Two hardcoded events for now - a proper events database will provide feed in due course -->
            <div class="col-12 col-md-5 event-listing">
                <h2>
                    <b>Venue:</b> St Pauls Church
                </h2>
                <p>
                    <b>Location:</b> Brackley Road, Beckenham BR3 1RB
                </p>
                <p>
                    <b>Date:</b> Saturday 18th December 2021
                </p>
                <p>
                    <b>Time:</b> 15:30 to 17:00
                </p>
                <b>Line Up:</b>
                <ul>
                    <li><strong>The Crystal Palace Band</strong></li>
                    <li>Crystal Palace Progress Band</li>
                </ul>
                <p>
                    Free entry with retiring donation !
                </p>
                <img src="{{ MEDIA_URL }}CPB-2021-12-18-Flyer.jpg" alt="CPB Concert Flyer for 18th Dec 2021" class="cpbflyer">
                <hr>
            </div>
            <div class="col-12 col-md-5 event-listing">
                <h2>
                    <b>Venue:</b> Deal Memorial Bandstand
                </h2>
                <p>
                    <b>Location:</b> The Strand, Walmer, Deal, UK CT14 7DX
                </p>
                <p>
                    <b>Date:</b> Sunday 28th August 2022
                </p>
                <p>
                    <b>Time:</b> 14:30 to 16:30
                </p>
                <b>Line Up:</b>
                <ul>
                    <li><strong>The Crystal Palace Band</strong></li>
                </ul>
                <p>
                    <br>Free entry with retiring donation !
                </p>
                <img src="{{ MEDIA_URL }}Deal_Memorial_Bandstand.jpg" alt="Deal Bandstand picture for 28th Aug 2022" class="cpbflyer">
                <hr>
            </div>
        </div>
    </section>
{% endblock %}