<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto pt-2">
        <li class="nav-item d-block d-lg-none">
            <a class="font-weight-bold nav-link mr-5" href="{% url 'home' %}">
                Home
            </a>
        </li>

        <li class="nav-item">
            <a class="font-weight-bold nav-link mr-5" href="{% url 'products' %}?category=clothing">
                Clothing
            </a>
        </li>
        
        <li class="nav-item">
            <a class="font-weight-bold nav-link mr-5" href="{% url 'products' %}?category=homeware"">
                Homeware
            </a>
        </li>
        
        <li class="nav-item">
            <a class="font-weight-bold nav-link mr-5" href="{% url 'products' %}?category=music">
                Music
            </a>
        </li>

        <li class="nav-item">
            <a class="font-weight-bold nav-link mr-5" href="{% url 'products' %}?category=clothing,homeware,music">
                All Merch
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                View Merch by...
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item text-black">By Price</a>
                <a href="" class="dropdown-item text-black">By Rating</a>
                <a href="" class="dropdown-item text-black">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item text-black">All Merch</a>
            </div>
        </li>

        <li class="nav-item upcoming-gigs">
            <a class="font-weight-bold nav-link mr-5" href="">
                Upcoming Gigs
            </a>
        </li>
    </ul>
</div>