<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto pt-2">
        <li class="nav-item d-block d-lg-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}">
                Home
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}?category=clothing">
                Clothing
            </a>
        </li>
        
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}?category=homeware"">
                Homeware
            </a>
        </li>
        
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}?category=music">
                Music
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}?category=clothing,homeware,music">
                All Merchandise
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                View Merchandise by...
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item text-black">All Merch</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="reviews-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Product Reviews by...
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="reviews-link">
                <a href="{% url 'reviews' %}?sort=username&direction=asc" class="dropdown-item">Sort by Author</a>
                <a href="{% url 'reviews' %}?sort=product&direction=asc" class="dropdown-item">Sort by Product</a>
                <a href="{% url 'reviews' %}?sort=firstcreated&direction=desc" class="dropdown-item">Sort by Date Posted</a>
                <a href="{% url 'reviews' %}" class="dropdown-item" text-black>All Reviews</a>
            </div>
        </li>

        <li class="nav-item upcoming-gigs">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'view_gigs' %}">
                Upcoming Gigs
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'blog' %}">
                Blogs
            </a>
        </li>
    </ul>
</div>